$darkest-violet: #0f021d;
$darker-violet: #180136;
$main-violet: #290a58;
$light-violet: #440aa7;
/* $lighter-violet: hsl(262, 92%, 58%); */
$lighter-violet: #7300fd;
$lighter-violet2: rgba(115, 0, 253, 0.25);
$blue: #148ff4;
$dark-blue: #397496;
$cyan: #83e9e6;
$white: #fffefc;
$white-opac: rgba(255, 254, 252, 0.1);
$white-opac2: rgba(255, 254, 252, 0.5);
$white-transparent: rgba(255, 254, 252, 0);
$pink: #bb11dc;
